# Core
fastapi
uvicorn[standard]

# Database
asyncpg==0.30.0
psycopg2-binary
SQLAlchemy==2.0.49

# Auth
PyJWT[crypto]
passlib[bcrypt]==1.7.4

# Data
pandas
numpy==1.26.4
python-multipart
python-dotenv
scikit-learn
duckdb
psutil

# AI
openai>=1.0.0,<2.0.0
cerebras-cloud-sdk
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters==0.3.6
sentence-transformers==3.4.1
tiktoken==0.8.0
datasets

# Infra
redis==5.2.1
requests
httpx
websockets>=15.0.1,<16

# Utils
aiofiles==24.1.0
pydantic[email]==2.10.6
pydantic-settings==2.7.1
tavily==1.1.0
email-validator

# Monitoring
tenacity==9.0.0
logfire[fastapi]
logfire[asyncpg]

# AWS
boto3>=1.35.0